<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../static/home.js"></script>

<div class='controller'>
    <h3>Controls</h3>
        <table>
            <tr>
                <td></td>
                <td><a href=# id=up><button class='btn btn-default'>up</button></a></td>
                <td></td>
            </tr>
            <tr>
                <td><a href=# id=left><button class='btn btn-default'>left</button></a></td>
                <td><a href=# id=stop><button class='btn btn-default'>stop</button></a></td>
                <td><a href=# id=right><button class='btn btn-default'>right</button></a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href=# id=down><button class='btn btn-default'>down</button></a></td>
                <td></td>
            </tr>
            
        </table>
</div>